# macOS
.DS_Store

# Xcode / IDE user data
*.xcuserstate
**/xcuserdata/

# Build outputs
build/
.build/
DerivedData/

# Swift Package Manager local metadata
.swiftpm/

# Artifacts
*.hmap
*.ipa
*.dSYM
*.dSYM.zip
build-tools/